## A Biblioteca Beautiful Soup - Prática I

In [19]:
import requests
import pandas as pd
import numpy as np

from datetime import datetime

from bs4 import BeautifulSoup

In [2]:
url = 'https://www2.hm.com/en_us/men/products/jeans.html'
    
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5),AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

page = requests.get( url, headers=headers )

In [3]:
soup = BeautifulSoup( page.text, 'html.parser' )

In [4]:
products = soup.find( 'ul', class_='products-listing small' )

In [5]:
product_list = products.find_all( 'article', class_='hm-product-item')

# product id
product_id = [p.get( 'data-articlecode' ) for p in product_list]

# product category
product_category = [p.get( 'data-category' ) for p in product_list]

In [6]:
# product name
product_list = products.find_all( 'a', class_='link' )
product_name = [p.get_text() for p in product_list]

In [7]:
# price
product_list = products.find_all( 'span', class_='price regular' )
product_price = [p.get_text() for p in product_list]

In [ ]:
# product color

In [ ]:
# composition

In [8]:
data = pd.DataFrame( [product_id, product_category, product_name, product_price] ).T
data.columns = ['product_id', 'product_category', 'product_name', 'product_price']
data.head()

# scrapy datetime
data['scrapy_datetime'] = datetime.now().strftime( '%Y-%m-%d %H:%M:%S')

In [ ]:
#id #product_name #product_type #product_color #composition #preco

In [22]:
data.head()

,product_id,product_category,product_name,product_price,scrapy_datetime
0,1074475001,ladies_sport_sportaccessories,Loose Jeans,$ 39.99,2022-06-06 20:20:53
1,1071707001,ladies_sport_sportaccessories,Relaxed Jeans,$ 29.99,2022-06-06 20:20:53
2,1024256001,ladies_sport_sportaccessories,Slim Jeans,$ 19.99,2022-06-06 20:20:53
3,0985159001,ladies_sport_sportaccessories,Skinny Jeans,$ 19.99,2022-06-06 20:20:53
4,1024256003,ladies_sport_sportaccessories,Slim Jeans,$ 19.99,2022-06-06 20:20:53

## A Biblioteca Beautiful Soup - Prática II

In [25]:
url = 'https://www2.hm.com/en_us/men/products/jeans.html'

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5),AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get( url, headers=headers )

In [24]:
soup = BeautifulSoup( page.text, 'html.parser' )

In [15]:
total_item = soup.find_all( 'h2', class_='load-more-heading' )[0].get( 'data-total' )
total_item

'86'

In [20]:
page_number = np.round( int( total_item ) / 36 ) 
page_number

2.0

In [21]:
url02 = url + '?page-size' + str( int( page_number*36 ) )
url02

'https://www2.hm.com/en_us/men/products/jeans.html?page-size72'

## A Biblioteca Beautiful Soup - Prática III

In [26]:
url = 'https://www2.hm.com/en_us/productpage.0636207010.html'

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5),AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get( url, headers=headers )

In [27]:
soup = BeautifulSoup( page.text, 'html.parser' )

In [ ]:
# color name

In [36]:
# soup.find_all( 'a', class_='filter-option miniature' )[0].get( 'data-color')

# color name
product_list = soup.find_all( 'a', class_='filter-option miniature' )
color_name = [p.get( 'data-color') for p in product_list]

# product id 
product_id = [p.get( 'data-articlecode' ) for p in product_list]

df_color = pd.DataFrame( [product_id, color_name] ).T
df_color.columns = ['product_id', 'color_name']

In [37]:
df_color.head()

   product_id       color_name
0  0636207001  Dark denim blue
1  0636207002  Dark gray denim
2  0636207004       Denim blue
3  0636207005             Gray
4  0636207006            Black

In [ ]:
# composition